[submodule "subprojects/gbase"]
	path = subprojects/gbase
	url = https://github.com/ImproperDecoherence/gbase
[submodule "subprojects/gtest"]
	path = subprojects/gtest
	url = https://github.com/ImproperDecoherence/gtest
